* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: rgb(20, 20, 20);
  color: #fff8dc;
}

body {
  /* background-image: url("./img/hero.JPG");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto; */
  height: 100%;
}

.heroOverlay {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  height: 35vh;
  align-self: flex-end;
  width: 100%;
}

nav {
  position: fixed;
  z-index: 500;
  bottom: 0;
  padding: 10px 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 235, 205, 0);
}

.navItem {
  padding: 15px;
  height: fit-content;
  text-decoration: none;
  font-family: forma-djr-text, sans-serif;
  font-weight: 900;
  font-style: normal;
  border: rgb(255, 248, 220) 2px solid;
  border-radius: 25px;
  color: rgb(255, 248, 220);
}

.navItem:hover {
  background-color: #fff8dc7e;
}

h1 {
  font-family: youngblood, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15vw;
  justify-self: center;
}
h2 {
  font-family: youngblood, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  justify-self: center;
}
.section:not(#home) {
  background-image: url("./img/texture.png");
  background-repeat: repeat;
  height: 100%;
}
.tag {
  background-color: rgba(5, 5, 5, 0.411);
  padding-right: 10px !important;
  padding-top: 1px;
  border-radius: 25px;
}

#home svg {
  margin: 20px;
  top: 0;
  position: relative;
  z-index: 100;
  line-height: 50px;
  overflow: visible;
  fill: rgb(255, 248, 220);
  height: 180px;
  width: 415px;
}

#home p {
  margin: 10vw 20px 0px;
  align-self: center;
  font-family: forma-djr-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  z-index: 100;
}

#music {
  position: inherit;
  z-index: 50;
  flex-direction: column;
}
.musicWrap {
  display: flex;
  justify-content: space-around;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.musicWrap a img {
  width: 100%;
}

.videoWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.socials a svg {
  height: 40px;
  fill: rgb(255, 248, 220);
}

/* Mobile */
@media screen and (max-width: 428px) {
  body {
    background-image: none;
  }
  nav {
    position: fixed;
    bottom: 0;
  }
  h2 {
    font-size: 15vw;
    padding: 20px 0;
  }
  .video {
    top: 0 !important;
    width: 100%;
    height: fit-content;
  }
  .section h1 {
    margin: 20px 0;
  }
  .section {
    height: 100vh;
    width: 100vw;
    display: flex;
  }
  .section:not(#home) {
    flex-direction: column;
    align-items: center;
    /* gap: 50px; */
  }
  .heroOverlay {
    width: 100%;
    height: 65%;
    z-index: 0;
    position: absolute;
    z-index: 50;
    background: url("./img/plastic.png"),
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(221, 255, 0, 0.5103626943005182) 46%,
        rgba(252, 255, 0, 0.7) 60%,
        rgba(0, 212, 27, 1) 70%
      );
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    align-content: center;
  }
  #home svg {
    width: 70%;
  }
  .tag {
    margin-top: 0px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 0 10px;
    text-align: center;
    align-self: flex-start;
  }
  .overlay {
    display: none;
  }
  .musicWrap {
    width: 100%;
  }
  .art {
    width: 80%;
    justify-content: center;
  }
  .musicWrap a {
    width: fit-content;
    display: flex;
    justify-content: center;
  }
  .videoWrap {
    margin: 20px 0;
  }
  .video-container iframe {
    position: unset;
  }
  .video-container::after {
    padding-top: 0% !important;
  }
  .socials {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
    margin: 50px;
  }
  .socials img {
    width: 50px;
  }
  .section #social {
    padding-bottom: 90px;
  }
}

/* Desktop */
@media only screen and (min-width: 428px) {
  body {
    background-position: 50% -50vw;
    display: flex;
    flex-direction: column;
  }
  nav {
    top: 0;
    bottom: unset;
  }
  .video {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0;
  }
  #home {
    height: min-content;
    height: 100vh;
    display: flex;
  }

  #home p {
    align-self: flex-start;
    margin: 20px;
  }
  .section:not(#home) {
    align-items: center;
    padding: 20px;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    z-index: 20;
    background: url("./img/plastic.png"),
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(221, 255, 0, 0.5103626943005182) 46%,
        rgba(252, 255, 0, 0.7) 60%,
        rgba(0, 212, 27, 1) 70%
      );
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .section:not(#home) {
    background-size: contain;
  }

  .art {
    height: 30%;
    width: auto;
  }
  .musicWrap {
    margin: 20px 20%;
  }
  .socials {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .socials img {
    width: 50px;
  }
  #social {
    padding-bottom: 100px !important;
  }
}
